extends layouts/master

block content
    section(id="about" class="section-padding")
        div(class="container")
            div(class="row")
                div(class="col-lg-6 col-md-6")
                    img(src=require("../images/app-development.png") class="img-fluid" alt="alt text")
                div(class="col-md-6")
                    //small Our Company Delivers the best
                    h2 Who we are and what we do
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Assumenda autem eaque facilis nihil non suscipit, vel. Atque culpa
                        | Assumenda autem eaque facilis nihil non suscipit, vel. Atque culpa
                        | eaque incidunt, odit omnis quibusdam voluptatibus. Assumenda
                        | beatae consequuntur delectus dicta dolorem doloremque doloribus
                        | ea enim eveniet ex exercitationem, ipsam libero nulla perferendis
                        | provident quia quis repellendus sapiente sequi tenetur vitae voluptatum?
    section(id="" class="alt-bg section-padding")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    //small Our Company Delivers the best
                    h2 Our Skills And Expertise
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Assumenda autem eaque facilis nihil non suscipit, vel. Atque culpa
                        | Assumenda autem eaque facilis nihil non suscipit, vel. Atque culpa
                        | eaque incidunt, odit omnis quibusdam voluptatibus. Assumenda
                        | beatae consequuntur delectus dicta dolorem doloremque doloribus
                        | ea enim eveniet ex exercitationem, ipsam libero nulla perferendis
                        | provident quia quis repellendus sapiente sequi tenetur vitae voluptatum?
                div(class="col-lg-6 col-md-6")
                    div(class="progress")
                        div(class="progress-bar w-70" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100") Skills
                    div(class="progress")
                        div(class="progress-bar w-85" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") Communication
                    div(class="progress")
                        div(class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100") Speed
                    div(class="progress")
                        div(class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100") Delivery
                    div(class="progress")
                        div(class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") Efficiency

    section(id="team-section" class="section-padding alt-bg")
        div(class="container")
            div(class="row")
                - for (var j = 1 ; j <=4  ; j++)
                    div(class="col-md-3")
                        div(class="card")
                            img(src=require('../images/team/team01.jpg') class="card-img-top" alt="")
                            div(class="card-body text-center p-3")
                                h5 Mark Webber
                                h6(class="") CEO
