extends layouts/master

include mixins/feature-box
include mixins/portfolio

block content
    section(id="map" class="section-padding")

    section(id="contact-section" class="section-padding")
        div(class="container")
            div(class="row")
                div(class="col-lg-12 col-md-12")
                    h3(class="text-center") Send Us a Message
                        strong Message
                    p  You can visit our Office or Send us Message below

        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    p
                        i(class="fa fa-phone")
                        |  +(234) 802xxxxxxx
                        br
                        i(class="fa fa-envelope")
                            |  info@example.com
                        br
                        i(class="fa fa-home")
                            |  64 Lorem ipsum dolor sit amet, consectetur.



                div(class="col-md-5")
                    form
                        div(class="form-group")
                            label(for="name" class="sr-only") Name
                            input(type="text" class="form-control" id="name" placeholder="Name")

                        div(class="form-group")
                            label(for="email" class="sr-only") Email
                            input(type="text" class="form-control" id="email" placeholder="Email")

                        div(class="form-group")
                            label(for="subject" class="sr-only") Sbject
                            input(type="text" class="form-control" id="subject" placeholder="Subject")

                        div(class="form-group")
                            label(for="message" class="sr-only") Message
                            textarea(class="form-control" id="message" placeholder="Your Message")

                        div(class="form-group")
                            input(type="submit" class="btn btn-primary" id="submit")