extends layouts/master

include mixins/feature-box

block content
    section(class="section-padding")
        div(class="container")
            div(class="row")
                each service in  htmlWebpackPlugin.options.services
                    div(class="col-md-4")
                        +feature-box(service.title, service.icon, '#', service.details)

