mixin feature-box(title, icon, url, details)
    div(class="col-xs-2 icon")
        span(class="fa-stack fa-lg")
            i(class="fa fa-circle fa-stack-2x")
            i(class="fa fa-trophy fa-stack-1x fa-inverse")


    div(class="col-xs-10")
        h3 Amazing features
        p Vestibulum tellivizzle i saw beyonces tizzles and my pizzle went crizzle primis gangsta faucibus fizzle luctizzle izzle stuff posuere mammasay mammasa mamma oo sa Daahng dawg.</p>