footer(class="footer section-padding")
    div(class="container")
        div(class="row")
            div(class="col-md-4")
                ul(class="list-unstyled")
                    li
                        a(href="") Home
                    li
                        a(href="") Home
                    li
                        a(href="") Home
                    li
                        a(href="") Home

            div(class="col-md-3")
                ul(class="list-unstyled")
                    li
                        a(href="") Home
                    li
                        a(href="") Home
                    li
                        a(href="") Home
                    li
                        a(href="") Home

            div(class="col-md-4")
                ul(class="list-unstyled")
                    li
                        a(href="") Home
                    li
                        a(href="") Home
                    li
                        a(href="") Home
                    li
                        a(href="") Home
        div(class="row")
            div(class="col-md-12")
                p(class="text-center") copyright 2015