header(class="header header-1")
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                div(class="intro-text mt-5 text-center") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, veniam.
                    h3 This is an Header Text
                    a(href="#" class="btn btn-primary") Hire Us

    span(class="d-flex justify-content-center")
        a(href="#service-section" class="btn btn-outline-primary page-scroll d-flex justify-content-center" id="")
            span(class="sr-only") Scroll to service
            i(class="fa fa-angle-down animated")