.feature-box{
    text-align: center;
    border: 1px solid #bdbdbd;
    padding: 40px 20px 20px 20px;
    margin: 0 0 50px 20px;

    h4 {
        text-transform: uppercase;
        margin: 20px 0;
    }

    .feature-box-icon {
        background-color: #ffffff;
        position: absolute;
        width: 70px;
        height: 70px;
        transition: all .3s ease 0s;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        line-height: 0;
        margin-left: -35px;
        top: -28px;
        left: 50%;
        font-size: $feature-box-icon-size;
    }
}