.home-page-header {
    min-height: 550px;
    padding-top: 150px;
    position: relative;
    background: #efefef url("../images/bg/dose-media-424257-unsplash.jpg") no-repeat fixed center center;
    #scroll-to-service {
        bottom: 5px;
        position: absolute;
    }
}

.page-banner {
    @include background-image("../images/bg/dose-media-424257-unsplash.jpg");
    //background: #efefef url("../images/bg/dose-media-424257-unsplash.jpg") no-repeat fixed center center;
    min-height: 250px;
    padding-top: 110px;
    padding-bottom: 50px;
}