.header {
    min-height: 550px;
    padding-top: 150px;
    position: relative;
}

.header-1 {
    background: #efefef url("../images/bg/dose-media-424257-unsplash.jpg") no-repeat fixed center center;
    #scroll-to-service {
        bottom: 5px;
        position: absolute;
    }
}