ul.information-list {
    li {
        overflow: hidden;
        i {
            float: left;
            //color: @color1;
            font-size: 15px;
            display: inline-block;
            line-height: 24px;
        }
        span {
            display: block;
            margin-bottom: 8px;
            margin-left: 25px;
        }
        margin-bottom: 10px;
        a {
            display: inline-block;
            margin-left: 12px;
            margin-bottom: 10px;
        }
    }
    li:last-child {
        border-bottom: none;
    }
}