.page-item {
    margin: 0 0.5em;
    &:first-child {
        margin-left: 0;
        .page-link {
            @include border-top-radius(0);
            @include border-bottom-radius(0);
        }
    }
    &:last-child {
        margin-right: 0;
        .page-link {
            @include border-top-radius(0);
            @include border-bottom-radius(0);
        }
    }
    .page-link {
        border: 2px solid #ddd;
    }
}