.widget{
  margin-bottom: 30px;
  ul {
    @include list-unstyled;
    li {
      margin-bottom: 10px;
      border-bottom: 1px dotted $primary;
      padding-bottom: 10px;
      &:before{
        content: "\f105";
        font-size: 16px;
        font-family: FontAwesome;
        margin-right: 5px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .widget-title {
    &:after {
      margin-top: 5px;
      background-color: $gray-500;
      content: ' ';
      display: block;
      height: 2px;
      width: 20px;
    }
  }
}

.widget-post-list {
  img {
    width: auto;
    max-width: 60px;
    height: 60px;
    float: left;
  }
  h4:not(.widget-title) {
    font-size: 18px;
    margin: 0 0 20px 70px;
    display: block;
  }
}